In [1]:
import pandas as pd
import pymysql
from sqlalchemy  import create_engine
import os

In [2]:
#sqlEngine       = create_engine('mysql+pymysql://root:@127.0.0.1/test', pool_recycle=3600)
#dbConnection    = sqlEngine.connect()

In [3]:
#host = os.environ.get('database_host')
host = 'localhost'
dbname = os.environ.get('database_name')
user = os.environ.get('database_user')
password = os.environ.get('database_password')

table_name= 'user_user'
#
str = 'mysql+pymysql://'+user+':'+password+'@'+host+'/'+dbname
str

'mysql+pymysql://debasis:password@localhost/bookanappointment'

In [4]:
sqlEngine       = create_engine(str, pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [5]:
sql_df = pd.read_sql(table_name, sqlEngine, index_col='id')

In [6]:
sql_df.shape

(1, 16)

In [7]:
# pd.set_option('display.max_columns', 98)
# pd.set_option('display.max_rows', 100)
sql_df.tail()

,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined,is_doctor,is_manager,is_patient,gender,location,birth_date
id,,,,,,,,,,,,,,,,
1,pbkdf2_sha256$180000$g5lk1dBKPYEi$wsUat+ckfQWi...,2020-05-08 06:59:09.356311,1,debasis,,,debasiskool@gmail.com,1,1,2020-05-08 06:55:35.674120,0,0,1,male,,NaT